<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>A New Startup: Sign Up Today!</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="header">
        <nav id="nav">
            <ul>
                <h1>Cities</h1>
                <li><a href="#top" id="top-link"><span class="icon fa-home">Intro</span></a></li>
                <li><a href="#sancarlos" id="sancarlos-link"><span class="icon fa-th">San Carlos</span></a></li>
                <li><a href="#paloalto" id="paloalto-link"><span class="icon fa-th">Palo Alto</span></a></li>
                <li><a href="#mountainview" id="mountainview-link"><span class="icon fa-th">Mountain View</span></a></li>
                <li><a href="#losaltos" id="losaltos-link"><span class="icon fa-th">Los Altos</span></a></li>
                <li><a href="#sunnyvale" id="sunnyvale-link"><span class="icon fa-th">Sunnyvale</span></a></li>
                <li><a href="#cupertino" id="cupertino-link"><span class="icon fa-th">Cupertino</span></a></li>
                <li><a href="#santaclara" id="santaclara-link"><span class="icon fa-th">Santa Clara</span></a></li>
                <li><a href="#sanjose" id="sanjose-link"><span class="icon fa-th">San Jose</span></a></li>
                <h1>Weekend Highlight</h1>
                <h1>Hiking</h1>
                <li><a href="#adobecreeklooptrail" id="adobecreeklooptrail-link"><span class="icon fa-th">Adobe Creek Loop Trail</span></a></li>
                <li><a href="#about" id="about-link"><span class="icon fa-user">About Me</span></a></li>
                <li><a href="#contact" id="contact-link"><span class="icon fa-envelope">Contact</span></a></li>
            </ul>
        </nav>
    </div>
    <% if (flask_debug === 'true') { %>
        <div class="alert alert-danger">
            Flask is in debug mode. This is not safe for production.
        </div>
    <% } %>
    <div id="signupSuccess" class="alert alert-success" style="display:none">
        <p id="signupSuccessText">Thanks for signing up! You'll be among the first to know when we launch.</p>
    </div>
    <div id="signupDuplicate" class="alert alert-success" style="display:none">
        <p id="signupDuplicateText">Fear not, you're already on the list! You'll be among the first to know when we launch.</p>
    </div>
    <div id="signupError" class="alert alert-info" style="display:none">
        <p id="signupErrorText">Well this is embarrassing. It looks like we're having trouble getting you on the list.</p>
    </div>
    <div class="jumbotron">
        <!-- Intro -->
        <section id="top" class="one dark cover">
            <div class="container">

                <header>
                    <h2 class="alt">This website is to build a home for bay area fun events and places.</h2>
                </header>

                <footer>
                    <a href="#sancarlos" class="button scrolly">Resources</a>
                </footer>

            </div>
        </section>

        <!-- sancarlos -->
        <section id="sancarlos" class="two">
            <div class="container">

                <header>
                    <h2>San Carlos</h2>
                </header>

                <p>
                <li><a href="https://www.google.com/search?q=San+Carlos+site%3Awww.bayareakidfun.com">Bay Area Kids Fun</a></li></p>
                <p><li><a href="https://www.google.com/search?q=>San+Carlos+site%3Awww.bayareaparent.com">Bay Area Parents</a></li></p></p>

            </div>
        </section>

        <!-- palo alto -->
        <section id="paloalto" class="three">
            <div class="container">

                <header>
                    <h2>Palo Alto</h2>
                </header>

                <p><li><a href="https://www.google.com/search?q=Palo+Alto+site%3Awww.bayareakidfun.com">Bay Area Kids Fun</a></li></p></p>
                <p><li><a href="https://www.google.com/search?q=Palo+Alto+site%3Awww.bayareaparent.com">Bay Area Parents</a></li></p></p>

            </div>
        </section>

        <section id="mountainview" class="four">
            <div class="container">

                <header>
                    <h2>Mountain View</h2>
                </header>

                <p><li><a href="https://www.google.com/search?q=Mountain+View+site%3Awww.bayareakidfun.com">Bay Area Kids Fun</a></li></p></p>
                <p><li><a href="https://www.google.com/search?q=Mountain+View+site%3Awww.bayareaparent.com">Bay Area Parents</a></li></p></p>

            </div>
        </section>
        <section id="losaltos" class="five">
            <div class="container">

                <header>
                    <h2>Los Altos</h2>
                </header>

                <p><li><a href="https://www.google.com/search?q=Los+Altosw+site%3Awww.bayareakidfun.com">Bay Area Kids Fun</a></li></p></p>
                <p><li><a href="https://www.google.com/search?q=Los+Altos+site%3Awww.bayareaparent.com">Bay Area Parents</a></li></p></p>

            </div>
        </section>
        <section id="sunnyvale" class="six">
            <div class="container">

                <header>
                    <h2>Sunnyvale</h2>
                </header>

                <p><li><a href="https://www.google.com/search?q=Sunnyvale+site%3Awww.bayareakidfun.com">Bay Area Kids Fun</a></li></p></p>
                <p><li><a href="https://www.google.com/search?q=Sunnyvale+site%3Awww.bayareaparent.com">Bay Area Parents</a></li></p></p>

            </div>
        </section>
        <section id="cupertino" class="seven">
            <div class="container">

                <header>
                    <h2>Cupertino</h2>
                </header>

                <p><li><a href="https://www.google.com/search?q=Cupertino+site%3Awww.bayareakidfun.com">Bay Area Kids Fun</a></li></p></p>
                <p><li><a href="https://www.google.com/search?q=Cupertino+site%3Awww.bayareaparent.com">Bay Area Parents</a></li></p></p>

            </div>
        </section>
        <section id="santaclara" class="eight">
            <div class="container">

                <header>
                    <h2>Santa Clara</h2>
                </header>

                <p><li><a href="https://www.google.com/search?q=Santa+Clara+site%3Awww.bayareakidfun.com">Bay Area Kids Fun</a></li></p></p>
                <p><li><a href="https://www.google.com/search?q=Santa+Clara+site%3Awww.bayareaparent.com">Bay Area Parents</a></li></p></p>

            </div>
        </section>
        <section id="sanjose" class="nine">
            <div class="container">

                <header>
                    <h2>San Jose</h2>
                </header>

                <p><li><a href="https://www.google.com/search?q=San+Jose+site%3Awww.bayareakidfun.com">Bay Area Kids Fun</a></li></p></p>
                <p><li><a href="https://www.google.com/search?q=San+Jose+site%3Awww.bayareaparent.com">Bay Area Parents</a></li></p></p>

            </div>
        </section>
        <section id="adobecreeklooptrail" class="ten">
            <div class="container">

                <header>
                    <h2>Adobe Creek Loop Trail</h2>
                </header>
                <!--<img src="<%= static_path + "/images/adobecreeklooptrail.jpg" %>">-->
                <!--&#45;&#45;&#45;&#45;&#45;&#45;-->
                <!--<img src="../static/images/adobecreeklooptrail.jpg">-->
                <!--&#45;&#45;&#45;&#45;&#45;&#45;-->
                <img src="https://cdn-images-1.medium.com/max/600/1*82iP8V3PVHglFUU-KvHYSw.png">

            </div>
        </section>

        <!-- About Me -->
        <section id="about" class="eleven">
            <div class="container">

                <header>
                    <h2>About Me</h2>
                </header>

                <p>Kane Wang & Eva Wang</p>

            </div>
        </section>

        <!-- Contact -->
        <section id="contact" class="twelve">
            <div class="container">

                <header>
                    <h2>Contact</h2>
                </header>

                <p></p>

                <form method="post" action="#">
                    <div class="row">
                        <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
                        <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
                        <div class="col-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Send Message" />
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </div>


    <div class="footer">
        <p>&copy; A New Startup 2013</p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Provide a few details and we'll be in touch...</h4>
                </div>
                <div class="modal-body">
                    <form id="signupForm" role="form">
                        <input type="hidden" id="theme" name="theme" value="<%= theme %>"/>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your email address">
                        </div>
                        <div class="form-group">
                            <label for="previewAccess">Interested in Preview Access?</label>
                            <select class="form-control" name="previewAccess">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button id="signup" type="button" class="btn btn-primary">Sign Up!</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div> <!-- /container -->

<script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
<script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#signup").click(function() {
            $.post( "/signup", $("#signupForm").serialize(),
                function(data) {
                    $("#signupSuccess").show();
                }
            )
                .error(function(xhr) {
                    switch(xhr.status) {
                        case 409:
                            $("#signupDuplicate").show();
                            break;
                        default:
                            $("#signupError").show();
                    }
                })
                .always(function() {
                    $("#signupModal").modal('hide');
                });
        })
    })
</script>
</body>
</html>
